{% extends "./layout.html" %}
{% block body %}
  
<div class="container">
    <div>
        <a href={{ url_for('nuevo_producto') }} class="btn btn-primary">Nuevo</a>
    </div>
    <table class="table">
        <thead>
            <th>Código</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Teléfono</th>
            <th>Carrera</th>
            <th>País</th>
            <th colspan="2">Acción</th>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                    <td>
                        <form method="POST" action="./borrar_empleado" onsubmit="return confirmarBorrado()">
                            <input type="hidden" value={{ row[0] }} name="id">
                            <button type="submit" class="btn btn-danger btn-sm">Borrar</button>
                        </form>
                    </td>
                    <td>
                        <form method="POST" action="./editar_empleado">
                            <input type="hidden" value={{ row[0] }} name="id">
                            <button type="submit" class="btn btn-success btn-sm">Editar</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>    
    </table>
</div>

{% endblock %}