{% extends "./layout.html" %}
{% block body %}

    <h1>Nuevo Producto</h1>
    <div>
        <form method="post" action="{{ url_for('nuevo_producto') }}">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" required><br>
            
            <label for="marca">Marca:</label>
            <input type="text" name="marca" required><br>

            <label for="precio">Precio:</label>
            <input type="number" name="precio" required><br>
            
            <label for="stock">Stock:</label>
            <input type="number" name="stock" required><br>

            <button class="btn btn-primary" type="submit">Agregar Producto</button>
        </form>
    </div>
{% endblock %}