{% extends "./layout.html" %}
{% block body %}
  
<div>
    <div>
        <a href={{ url_for('nuevo_producto') }} class="btn btn-primary">Nuevo</a>
    </div>
    <table class="table">
        <thead>
            <th>Código</th>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Stock</th>
            <th colspan="2">Acciones</th>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>
                        <form method="POST" action="./borrar_producto">
                            <input type="hidden" value={{ row[0] }} name="id">
                            <button type="submit" class="btn btn-success btn-sm">Borrar</button>
                        </form>
                    </td>
                    <!-- <td>
                        <form method="POST" action="./borrar_producto">
                            <button type="submit" class="btn btn-success btn-sm">Borrar</button>
                        </form>
                    </td> -->
                </tr>
            {% endfor %}
        </tbody>    
    </table>
</div>

{% endblock %}